.button-group {
    margin-top: 30px;
    a{
        text-align: left;
        margin-right: 10px;
    }
    img{
        max-width: 190px;
    }
}
.btn, .btn:active{
    background: linear-gradient(-47deg, #8731E8 0%, #4528DC 100%) !important;
    color: white;
    padding: 13px 30px !important;
    &:hover{
    color: white;

    }

}