.download-area{
    background-image:linear-gradient(-47deg, rgba(16, 16, 45, .8) 0%, rgba(16, 16, 45, .9)100%),  url(../imgs/bg/download-bg.jpg) ;
    background-position:center  ;
    background-size: cover;
    position: relative;
    background-attachment: fixed;


}