.hero-section{
    background-image: linear-gradient(-47deg, #8731e6f0 0%, #4528dcd9 100%), url(../imgs/bg/welcome-bg.jpg) ;
    height: 100vmin;
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 84%, 79% 80%, 54% 93%, 24% 83%, 0 92%, 0% 35%, 0 0);
    background-position: top;
    background-size: cover;
    position: relative;

    .welcome-thumb {
        max-width: 300px;
        padding-top: 70px;
        .welcome-mobile{
            height: auto;
            max-width: 100%;
            }
    }



}
.welcome-intro{
   p{
        font-size: 15px;
    }
}