.service-area{
    background-color: #f6f9fe;
    .service-icon span {
        height: 54px;
        width: 54px;
        display: inline-block;
        text-align: center;
        line-height: 54px;
        font-size: 24px;
        color: #7c4fe0;
        border-radius: 4px;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }

}